# This is the .env template if you wanna deploy on vercel 
NEXT_PUBLIC_API_BASE_URL=https://app.your-domain.com # this is necessary for the frontend to talk to the backend over https
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1

# Supabase keys
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=
# Google keys
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# notifications 
NEXT_PUBLIC_VAPID_PUBLIC_KEY=