# Create a .env.local file at the root of this project, then use this template 
NEXT_PUBLIC_API_BASE_URL=
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1

# Supabase keys
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=

# Google keys
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# notifications 
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
